{% extends 'base.html' %} {% load static %} {% block about %}

<!DOCTYPE html>
<html lang="en">
  <body class="about">
    <!-- Live Style Switcher Ends - demo only -->
    <!-- Header Starts -->
    <header class="header" id="navbar-collapse-toggle">
      <ul
        class="
          icon-menu
          d-none d-lg-block
          revealator-slideup revealator-once revealator-delay1
        "
      >
        <li class="icon-box">
          <i class="fa fa-home"></i>
          <a href="{% url 'home:home' %}">
            <h2>Home</h2>
          </a>
        </li>
        <li class="icon-box active">
          <i class="fa fa-user"></i>
          <a href="{% url 'home:about' %}">
            <h2>About</h2>
          </a>
        </li>
        <li class="icon-box">
          <i class="fa fa-briefcase"></i>
          <a href="{% url 'home:portfolio' %}">
            <h2>Portfolio</h2>
          </a>
        </li>
        <li class="icon-box">
          <i class="fa fa-envelope-open"></i>
          <a href="{% url 'home:contact_us' %}">
            <h2>Contact</h2>
          </a>
        </li>
        <li class="icon-box">
          <i class="fa fa-comments"></i>
          <a href="{% url 'home:blog' %}">
            <h2>Blog</h2>
          </a>
        </li>
        <li class="icon-box">
          <i class="fa fa-sliders"></i>
          <a href="{% url 'home:Extra' %}">
            <h2>Extra</h2>
          </a>
        </li>

      </ul>
      <!-- Mobile Menu Starts -->
      <nav role="navigation" class="d-block d-lg-none">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul class="list-unstyled" id="menu">
            <li>
              <a href="{% url 'home:home' %}"
                ><i class="fa fa-home"></i><span>Home</span></a
              >
            </li>
            <li class="active">
              <a href="{% url 'home:about' %}"
                ><i class="fa fa-user"></i><span>About</span></a
              >
            </li>
            <li>
              <a href="{% url 'home:portfolio' %}"
                ><i class="fa fa-folder-open"></i><span>Portfolio</span></a
              >
            </li>
            <li>
              <a href="{% url 'home:contact_us' %}"
                ><i class="fa fa-envelope-open"></i><span>Contact</span></a
              >
            </li>
            <li>
              <a href="{% url 'home:blog' %}"
                ><i class="fa fa-comments"></i><span>Blog</span></a
              >
            </li>
            <li>
              <a href="{% url 'home:Extra' %}"
                ><i class="fa fa-sliders"></i><span>Extra</span></a
              >
            </li>

          </ul>
        </div>
      </nav>
      <!-- Mobile Menu Ends -->
    </header>
    <!-- Header Ends -->
    <!-- Page Title Starts -->
    <section
      class="
        title-section
        text-left text-sm-center
        revealator-slideup revealator-once revealator-delay1
      "
    >
      <h1>ABOUT <span>ME</span></h1>
      <span class="title-bg">Resume</span>
    </section>
    <!-- Page Title Ends -->
    <!-- Main Content Starts -->
    <section
      class="main-content revealator-slideup revealator-once revealator-delay1"
    >
      <div class="container">
        <div class="row">
          <!-- Personal Info Starts -->
          <div class="col-12 col-lg-5 col-xl-6">
            <div class="row">
              <div class="col-12">
                <h3 class="text-uppercase custom-title mb-0 ft-wt-600">
                  personal infos
                </h3>
              </div>
              {% for i in myimg %}
              <div class="col-12 d-block d-sm-none">
                <img
                  src="{{ i.image.url }}"
                  class="img-fluid main-img-mobile"
                  alt="my picture"
                />
              </div>
              {% endfor %}
              <div class="col-6">
                <ul class="about-list list-unstyled open-sans-font">
                  <li>
                    <span class="title">first name :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      >Suyog</span
                    >
                  </li>
                  <li>
                    <span class="title">last name :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      >Ojha</span
                    >
                  </li>
                  <li>
                    <span class="title">Age :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      >22 Years</span
                    >
                  </li>
                  <li>
                    <span class="title">Nationality :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      >Nepali</span
                    >
                  </li>
                  <li>
                    <span class="title">Freelance :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      >Available</span
                    >
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="about-list list-unstyled open-sans-font">
                  <li>
                    <span class="title">Address :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      ><a href="https://goo.gl/maps/Q7S5mQXdbTLmXqJE6" style="text-decoration: none; color:white" target="_blank"> Thimi,Bhaktapur</a> </span
                    >
                  </li>
                  <li>
                    <span class="title">phone :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      ><a href="tel:9814327222" style="text-decoration: none; color:white" target="_blank">9814327222</a></span
                    >
                  </li>
                  <li>
                    <span class="title">Email :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      ><a href="mailto:ojhasuyog2020@gmail.com" style="text-decoration: none; color:white" target="_blank">ojhasuyog2020@gmail.com</a></span
                    >
                  </li>

                  <li>
                    <span class="title">langages :</span>
                    <span
                      class="
                        value
                        d-block d-sm-inline-block d-lg-block d-xl-inline-block
                      "
                      >Nepali, English, Hindi</span
                    >
                  </li>
                </ul>
              </div>
              <div class="col-12 mt-3">
                <a href="{% url 'Extra:certificates' %}" class="btn btn-download"
                  >Download CV</a
                >
              </div>
            </div>
          </div>
          <!-- Personal Info Ends -->
          <!-- Boxes Starts -->
          <div class="col-12 col-lg-7 col-xl-6 mt-5 mt-lg-0">
            <div class="row">
              <div class="col-6">
                <div class="box-stats with-margin">
                  <h3 class="poppins-font position-relative">2</h3>
                  <p
                    class="open-sans-font m-0 position-relative text-uppercase"
                  >
                    years of <span class="d-block">experience</span>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-stats with-margin">
                  <h3 class="poppins-font position-relative">60</h3>
                  <p
                    class="open-sans-font m-0 position-relative text-uppercase"
                  >
                    completed <span class="d-block">projects</span>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-stats">
                  <h3 class="poppins-font position-relative">45</h3>
                  <p
                    class="open-sans-font m-0 position-relative text-uppercase"
                  >
                    Happy<span class="d-block">customers</span>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-stats">
                  <h3 class="poppins-font position-relative">7</h3>
                  <p
                    class="open-sans-font m-0 position-relative text-uppercase"
                  >
                    awards <span class="d-block">won</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Boxes Ends -->
        </div>
        <hr class="separator" />
        <!-- Skills Starts -->
        <div class="row">
          <div class="col-12">
            <h3
              class="
                text-uppercase
                pb-4 pb-sm-5
                mb-3 mb-sm-0
                text-left text-sm-center
                custom-title
                ft-wt-600
              "
            >
              My Skills
            </h3>
          </div>
          {% for i in data %}

          <div class="col-6 col-md-3 mb-3 mb-sm-5">
            <div class="c100 p{{ i.percentage }}">
              <span>{{ i.percentage }}</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
            <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">
              {{ i.name }}
            </h6>
          </div>
          {% endfor %}
        </div>
        <!-- Skills Ends -->
        <hr class="separator mt-1" />
        <!-- Experience & Education Starts -->
        <div class="row">
          <div class="col-12">
            <h3
              class="
                text-uppercase
                pb-5
                mb-0
                text-left text-sm-center
                custom-title
                ft-wt-600
              "
            >
              Experience <span>&</span> Education
            </h3>
          </div>
          <div class="col-lg-6 m-15px-tb">
            <div class="resume-box">
              <ul>
                <li>
                  <div class="icon">
                    <i class="fa fa-briefcase"></i>
                  </div>
                  <span class="time open-sans-font text-uppercase"
                    >2019 - Present</span
                  >
                  <h5 class="poppins-font text-uppercase">
                    Full stack developer
                    <span class="place open-sans-font"
                      >AS/400 RPG Programmer</span
                    >
                  </h5>
                  <p class="open-sans-font">
                    A front-end web developer is responsible for implementing
                    visual and interactive elements that users engage with
                    through their web browser when using a web application. They
                    are usually supported by back-end web developers, who are
                    responsible for server-side application logic and
                    integration of the work front-end developers do.
                  </p>
                </li>
                <!-- <li>
                  <div class="icon">
                    <i class="fa fa-briefcase"></i>
                  </div>
                  <span class="time open-sans-font text-uppercase"
                    >2013 - 2018</span
                  >
                  <h5 class="poppins-font text-uppercase">
                    UI/UX Designer
                    <span class="place open-sans-font">Themeforest</span>
                  </h5>
                  <p class="open-sans-font">
                    Lorem incididunt dolor sit amet, consectetur eiusmod dunt
                    doldunt dol elit, tempor incididunt
                  </p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa fa-briefcase"></i>
                  </div>
                  <span class="time open-sans-font text-uppercase"
                    >2005 - 2013</span
                  >
                  <h5 class="poppins-font text-uppercase">
                    Consultant
                    <span class="place open-sans-font">Videohive</span>
                  </h5>
                  <p class="open-sans-font">
                    Lorem ipsum dolor sit amet, tempor incididunt ut
                    laboreconsectetur elit, sed do eiusmod tempor duntt
                  </p>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="col-lg-6 m-15px-tb">
            <div class="resume-box">
              <ul>
                <li>
                  <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                  </div>
                  <span class="time open-sans-font text-uppercase"
                    >2018 - Present</span
                  >                  <h5 class="poppins-font text-uppercase">
                    BSc. (Hons) Computer Systems Engineering
                    <span class="place open-sans-font"
                      >International School of Management and Technology
                      (ISMT)</span
                    >
                  </h5>
                  <p class="open-sans-font">
                    Time spent at ISMT counts as period of my personal, social
                    intellectual growth. Not only did I receive valuable
                    knowledge I also gained an everlasting friendships, good
                    will and socio-professional skills. The care and teaching
                    methodologies here has shaped my knowledge and skills and
                    piqued my habit for learning. These inspirations will always
                    be reflected in my works and future endeavors.
                  </p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                  </div>
                  <span class="time open-sans-font text-uppercase">2016</span>
                  <h5 class="poppins-font text-uppercase">
                    Science
                    <span class="place open-sans-font">DELHI PUBLIC SCHOOL BIRATNAGAR</span>
                  </h5>
                  <p class="open-sans-font">
                    Delhi Public School, Biratnagar prioritizes humanity,
                    cultural, moral and spiritual values along with knowledge.
                    We aim to develop well-rounded thoughtful and confident
                    students prepared to cope with the ever-changing globalised
                    world. We provide a culture of mutual respect and acceptance
                    with children moving onto their next venture with the skills
                    and values to set them on the path to acheive their dreams.
                  </p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                  </div>
                  <span class="time open-sans-font text-uppercase">2009</span>
                  <h5 class="poppins-font text-uppercase">
                    School
                    <span class="place open-sans-font">Peace Zone Awasiya Madhyamik Vidyalaya</span>
                  </h5>
                  <p class="open-sans-font">
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor ut labore -->
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Experience & Education Ends -->
      </div>
    </section>
    <!-- Main Content Ends -->

    <!-- Template JS Files -->
    <script src="js/jquery-3.5.0.min.js"></script>
    <script src="js/styleswitcher.js"></script>
    <script src="js/preloader.min.js"></script>
    <script src="js/fm.revealator.jquery.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpGridGallery.js"></script>
    <script src="js/jquery.hoverdir.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>

{% endblock %}
