

{% extends 'base.html' %} {% load static %} {% block blog_post %}




<body class="blog-post">

    <header class="header" id="navbar-collapse-toggle">
        <ul
        class="
          icon-menu
          d-none d-lg-block
          revealator-slideup revealator-once revealator-delay1
        "
      >
        <li class="icon-box">
          <i class="fa fa-home"></i>
          <a href="{% url 'home:home' %}">
            <h2>Home</h2>
          </a>
        </li>
        <li class="icon-box ">
          <i class="fa fa-user"></i>
          <a href="{% url 'home:about' %}">
            <h2>About</h2>
          </a>
        </li>
        <li class="icon-box">
          <i class="fa fa-briefcase"></i>
          <a href="{% url 'home:portfolio' %}">
            <h2>Portfolio</h2>
          </a>
        </li>
        <li class="icon-box">
          <i class="fa fa-envelope-open"></i>
          <a href="{% url 'home:contact_us' %}">
            <h2>Contact</h2>
          </a>
        </li>
        <li class="icon-box active">
          <i class="fa fa-comments"></i>
          <a href="{% url 'home:blog' %}">
            <h2>Blog</h2>
          </a>
        </li>
        <li class="icon-box">
          <i class="fa fa-sliders"></i>
          <a href="{% url 'home:Extra' %}">
            <h2>Extra</h2>
          </a>
        </li>
      </ul>
      <!-- Mobile Menu Starts -->
      <nav role="navigation" class="d-block d-lg-none">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul class="list-unstyled" id="menu">
            <li>
              <a href="{% url 'home:home' %}"
                ><i class="fa fa-home"></i><span>Home</span></a
              >
            </li>
            <li >
              <a href="{% url 'home:about' %}"
                ><i class="fa fa-user"></i><span>About</span></a
              >
            </li>
            <li>
              <a href="{% url 'home:portfolio' %}"
                ><i class="fa fa-folder-open"></i><span>Portfolio</span></a
              >
            </li>
            <li>
              <a href="{% url 'home:contact_us' %}"
                ><i class="fa fa-envelope-open"></i><span>Contact</span></a
              >
            </li>
            <li class="active">
              <a href="{% url 'home:blog' %}"
                ><i class="fa fa-comments"></i><span>Blog</span></a
              >
            </li>
            <li>
              <a href="{% url 'home:Extra' %}"
                ><i class="fa fa-sliders"></i><span>Extra</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
      <!-- Mobile Menu Ends -->
    
    </header>
<!-- Header Ends -->
<!-- Page Title Starts -->
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>my <span>blog</span></h1>
    <span class="title-bg">posts</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->

<section class="main-content revealator-slideup revealator-once revealator-delay1">            

    <div class="container">
        <div class="row">
            <!-- Article Starts -->
            <article class="col-12">
                <!-- Meta Starts -->
                <div class="meta open-sans-font">
                    <span><i class="fa fa-user"></i> {{ request.user.username }}</span>
                    <span class="date"><i class="fa fa-calendar"></i> {{ newblog.modified }}</span>
                    <span><i class="fa fa-tags"></i> {{ newblog.tags }} </span>
                </div>
                <!-- Meta Ends -->
                <!-- Article Content Starts -->
                <h1 class="text-uppercase text-capitalize">{{ newblog.title }}</h1>
                <img src="{{ newblog.image.url }}" class="img-fluid" alt="Blog image"/>
                <div class="blog-excerpt open-sans-font pb-5">
                  {{ newblog.content }}
                </div>
                <!-- Article Content Ends -->
            </article>
            <!-- Article Ends -->
        </div>
    </div>
</section>


{% endblock %}