

  {% load static %}

 
   
  {% block home %}
  {% endblock %}

  {% block about %}
  {% endblock %}

  {% block portfolio %}
  {% endblock %}


  {% block contact %}
  {% endblock %}

  {% block blog %}
  {% endblock %}

  {% block Extra %}
  {% endblock %}

  {% block blog_post %}
  {% endblock %}

  {% block mysignup %}
  {% endblock %}

  {% block mylogin %}
  {% endblock %}

  {% block certificate %}
  {% endblock %}

  {% block myprojects %}
  {% endblock %}

  {% block myprojectsvideos %}
  {% endblock %}

  {% block worklist %}
  {% endblock %}

  {% block Team %}
  {% endblock %}

  {% block projectcodedetails %}
  {% endblock %}


  {% block TheUser %}
  {% endblock %}














{% include "header.html" %}
{% include "footer.html" %}
{% include "color.html" %}
