
{% load static %}


    <!-- Template JS Files -->
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/styleswitcher.js' %}"></script>
    <script src="{% static 'js/preloader.min.js' %}"></script>
    <script src="{% static 'js/fm.revealator.jquery.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpGridGallery.js' %}"></script>
    <script src="{% static 'js/jquery.hoverdir.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>
