
{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Suyog Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Template Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700"
      rel="stylesheet"
    />


    <!-- Template CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/preloader.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/circle.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fm.revealator.jquery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/mynewcssfile.css' %}" rel="stylesheet" />


    <!-- CSS Skin File -->
    <link href="{% static 'css/skins/yellow.css' %}" rel="stylesheet" />

    <!-- Live Style Switcher - demo only -->
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="blue"
      href="{% static 'css/skins/blue.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="green"
      href="{% static 'css/skins/green.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="yellow"
      href="{% static 'css/skins/yellow.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="blueviolet"
      href="{% static 'css/skins/blueviolet.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="goldenrod"
      href="{% static 'css/skins/goldenrod.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="magenta"
      href="{% static 'css/skins/magenta.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="orange"
      href="{% static 'css/skins/orange.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="purple"
      href="{% static 'css/skins/purple.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="red"
      href="{% static 'css/skins/red.css' %}"
    />
    <link
      rel="alternate stylesheet"
      type="text/css"
      title="yellowgreen"
      href="{% static 'css/skins/yellowgreen.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleswitcher.css' %}" />

    <script src="{% static 'js/modernizr.custom.js' %}"></script>


  </head>