{% load static %}



   <!-- Header Starts -->
   <header class="header" id="navbar-collapse-toggle">
    <!-- Fixed Navigation Starts -->
    <ul
      class="
        icon-menu
        d-none d-lg-block
        revealator-slideup revealator-once revealator-delay1
      "
    >
      <li class="icon-box active">
        <i class="fa fa-home"></i>
        <a href="{% url 'home:home' %}">
          <h2>Home</h2>
        </a>
      </li>
      <li class="icon-box">
        <i class="fa fa-user"></i>
        <a href="{% url 'home:about' %}">
          <h2>About</h2>
        </a>
      </li>
      <li class="icon-box">
        <i class="fa fa-briefcase"></i>
        <a href="portfolio.html">
          <h2>Portfolio</h2>
        </a>
      </li>
      <li class="icon-box">
        <i class="fa fa-envelope-open"></i>
        <a href="contact.html">
          <h2>Contact</h2>
        </a>
      </li>
      <li class="icon-box">
        <i class="fa fa-comments"></i>
        <a href="blog.html">
          <h2>Blog</h2>
        </a>
      </li>

    <!-- Fixed Navigation Ends -->